<form method="post">
    <div class=form>
        <header>Registration Form</header>
        <container>
            <div class="name">
                <label>Name</label>
                <input type="text" name="name">

            </div>
            <div class="email">
                <label>Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="phno">
                <label>Phone </label>
                <input type="number" name="phno">
            </div>
            <div class="gender">
                <label>Gender</label>
                <input type="radio" name="gender" value="male">Male
                <input type="radio" name="gender" value="female">Female
                <input type="radio" name="gender" value="others">Others
            </div>
            <div class="hobbies">
                <label>Hobbies</label>
                <section>
                    <input type="checkbox" name="reading" id="reading">reading
                    <input type="checkbox" name="travelling" id="travelling">Travelling
                    <input type="checkbox" name="music" id="music">Listening to music
                </section>

            </div>

            <button name="submit">Submit</button>
    </div>
    </container>
</form>